@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --primary-color: #fff;
  --secondary-color: #DE4139;
  --common-color: #000000;
  --gray-color: #717974;
  --action-color: #623885;
  --dashboard-color: #1E1E2D;

  --dark-primary-color: #0F1729;
  --dark-secondary-color: #83FFF9;
  --dark-common-color: #fff;
  --dark-gray-color: #717974;
  --dark-dashboard-color: #151521;
}
